<% layout('layouts/boilerplate')%>
<style>
  .h {
    display: inline-block;
    color: black;
  }
</style>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1528892677828-8862216f3665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FtcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=5000&q=60"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <a href="/login"><h5 class="h me-3">Login</h1> </a>
          <h5 class="h"><strong>|</strong></h1>
          <a href="/register"> <h5 class="h ms-3">Register</h1></a>
          <form action="/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="email" name="email" value="" required />
    <div class="valid-feedback">looks good</div>
  </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success btn-block">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



